@model Shop.ViewModels.ShopCartViewModel

<div class="container">
    @foreach (var el in @Model.ShopCarts.ListShopItems)
    {
        <div class="alert alert-warning mt-3">
            <b>Car :</b> @el.Car.Name <br />
            <b>Price : </b>@el.Car.Price.ToString("c")
        </div>
    }
    <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Pay</a>
</div>