
    <h1>All Cars</h1>
    <h3>@Model.CurrCategory</h3>
    @{ 
        foreach (var car in Model.AllCars)
        {
            <h2>Model : @car.Name</h2>
            <p>Price : @car.Price.ToString("c")</p>
        }
    }

